<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce Site</title>
     <link rel="icon" href="https://img.favpng.com/7/23/1/shopping-cart-favicon-clip-art-png-favpng-cCaeUvQgJfpDFCF1swXR4hQ2t.jpg" type="image/jpg" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c96d3752b6.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Begin first section -->
    <div class="container">
      <div class="navigationbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/form">Form</a></li>
        </ul>
        <div class="searchbar">
          <input type="text" >
.
          <i class="fas fa-search"></i>
          <div class="searchresults">

          </div>
        </div>

            <div class="cart">
              <i class="fas fa-shopping-cart"><span class="cart-text"><a href="/cart">Cart</a></span> </i>
          </div>
          <div class="form">
            <ul>
              <li><a href="#">login</a></li>
              <li><a href="#">register</a></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="products">
        <div class="categories">
      <ul>
        <li><a href="/">All</a></li>
        <li><a href="/categories/foods">Foods</a></li>
        <li><a href="/categories/outfits">Outfits</a></li>


      </ul>
        </div>
<script src="/js/script.js"></script>
