<%- include ("includes/header") -%>
<div class="products-list">
  <div class="images">
    <img src="<%=data %>" alt="" height="150px" width="150px">
  </div>
  <div classes="images">
  <button type="button" name="button">Added</button>
  </div>
  </div>
